* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff") format("woff"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf") format("truetype"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  background-image: url("./images/main/main-right/back.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  z-index: 110;
}

header {
  padding: 20px 0px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f1f1f5;
}
header .container {
  display: flex;
  align-items: center;
  color: #474c54;
  width: 90%;
  justify-content: space-evenly;
  font-size: 16px;
}
header .container .phone {
  display: flex;
  align-items: center;
}
header .container .search {
  display: flex;
  width: 24.653vw;
  padding: 9px;
  position: relative;
}
header .container .search input {
  width: 100%;
  border-radius: 30px;
  background: #f1f1f5;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 8px 30px;
}
header .container .search input ::-moz-placeholder {
  color: #616173;
  font-size: 14px;
}
header .container .search input :-ms-input-placeholder {
  color: #616173;
  font-size: 14px;
}
header .container .search input ::placeholder {
  color: #616173;
  font-size: 14px;
}
header .container .search input :focus {
  outline: none;
  border: none;
}
header .container .search .search-button {
  position: absolute;
  left: 19px;
  opacity: 0.5;
  top: 31.2%;
}
header .container .nav {
  display: flex;
  width: 29.653vw;
  justify-content: space-evenly;
  align-items: center;
}
header .container .nav img {
  width: 21px;
  height: 23px;
}
header .container .nav .line {
  height: 50px;
  border-right: 1px solid #e6e6e6;
}
header .container .nav .nofications {
  padding-top: 3px;
  position: relative;
}
header .container .nav .nofications .num {
  border-radius: 50%;
  background-color: #f9c20a;
  font-size: 11px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12%;
}
header .container .user .user-about .user-name {
  color: #231f20;
}
header .container .user .user-about .user-job {
  color: #616173;
  font-size: 13px;
}

main {
  display: flex;
}
main .left {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 130px;
  padding: 10px 0 50px;
  height: 820px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .left .context {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .left .context .circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d4d8e2;
}
main .left .context .orange {
  background-color: #faa61a;
}
main .left .context span {
  color: #616173;
  font-size: 14px;
}
main .right {
  width: calc(100% - 130px);
  padding: 0px 0px 0px 100px;
}
main .right .right-header {
  z-index: 2;
  width: 100%;
  background-color: white;
}
main .right .right-header ul {
  width: 86.5%;
  display: flex;
  justify-content: space-between;
}
main .right .right-header ul li a {
  display: block;
  color: black;
  font-size: 16px;
  padding: 18px 0;
  display: flex;
  align-items: center;
}
main .right .right-header ul li a .right-num {
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 12px;
  border: 1px solid #faa61a;
  color: #faa61a;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
main .right .cards {
  margin-top: 25px;
  width: 86.5%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
main .right .cards h2 {
  font-size: 30px;
}
main .right .cards .value {
  padding-left: 0;
  border: 1px solid #E7E7E7;
  border-radius: 48px;
  width: 360px;
  height: 50px;
  background-color: #F6F6FA;
  display: flex;
}
main .right .cards .value .all {
  background: #FFFFFF;
  width: 18%;
  z-index: 32;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 2px 4px rgba(97, 97, 115, 0.15);
  border-radius: 48px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-left: -2px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */